{% extends "base.html" %} {% load static %} {% block title %}Gallery | Hood
Homes{% endblock %} {% block content %}

<!-- Particles Background -->
<div id="particles-background"></div>
<!-- Gallery Section -->
<!-- Unified Property Gallery Section -->
<section class="property-gallery container" data-aos="fade-up">
  <h2 class="section-heading">Gallery</h2>

  <!-- Gallery Wrapper for Property A -->
  <div class="gallery-wrapper">
    <div class="slide">
      {% for img in propertyA_images %}
      <div class="item" style="background-image: url({% static 'images/gallery/propertyA/' %}{{ img }});">
        <div class="content">
          <div class="name">Property A</div>
          <div class="des">
            Explore Property A's exclusive listings, carefully selected for prime locations and quality finishes.
          </div>
          <a href="{% url 'properties:gallery' %}" class="seeMore">
            <button>See More</button>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="button">
      <button class="prev">◁</button>
      <button class="next">▷</button>
    </div>
  </div>

  <!-- Gallery Wrapper for Property B -->
  <div class="gallery-wrapper" style="margin-top: 3rem;">
    <div class="slide">
      {% for img in propertyB_images %}
      <div class="item" style="background-image: url({% static 'images/gallery/propertyB/' %}{{ img }});">
        <div class="content">
          <div class="name">Property B</div>
          <div class="des">
            Explore Property B's exclusive listings, carefully selected for prime locations and quality finishes.
          </div>
          <a href="{% url 'properties:gallery' %}" class="seeMore">
            <button>See More</button>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="button">
      <button class="prev">◁</button>
      <button class="next">▷</button>
    </div>
  </div>
</section>
{% endblock %}
